// @import "_variables";

$bg: #fff;
$title: 32px;
$fontBasicColor: red;
$fontBold: bolder;
$hoverColor: #a4ffa4;
$linkColor:lightcoral; 

// @mixin link($color) {
//     text-decoration: none;
//     font-size: 30px;
//     margin-bottom: 12px;
//     color: $color;
//     font-weight: $fontBold;
//     display: block;
// }

// .linkBox {
//     a {
//         margin-bottom: 10px;

//         &:nth-child(4n + 1) {
//             @include link($linkColor);
//         }
    
//         &:nth-child(4n + 2) {
//             @include link(red);
//         }
    
//         &:nth-child(4n + 3) {
//             @include link(blue);
//         }
    
//         &:nth-child(4n + 4) {
//             @include link(green);
//         }
//     }
// }

@mixin link($word) {
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 12px;
    @if $word == 'odd' {
        color: blue;
    } @else {
        color: red;
    }
    font-weight: $fontBold;
    display: block;
}

%button {
    border-radius: 7px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 10px;
    background-color: powderblue;
}

.linkBox {
    a {
        margin-bottom: 10px;

        &:nth-child(odd) {
            @include link("odd");
        }

        &:nth-child(even) {
            @include link("even");
        }
    }
}

h2 {
    color: $fontBasicColor;
    font-size: $title;
    font-weight: $fontBold;
}

.box {
    margin-top: 20px;
    &:hover {
        background-color: $hoverColor;
    }

    h2 {
        color: blue;
        &:hover {
            background-color: red;
        }
    }

    button {
        @extend %button;
        color: red;
        font-weight: $fontBold;
    }
} 

.byeBtn {
    @extend %button;
}